@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply bg-gradient-to-tr from-[#f9a255] to-[#f95f35]
  }
}


/* 
photo: #4cb256,
video: #4a4eb7,
location: #ef5757,
schedule: #e1ae4a
*/